/* Display URL of hyperlinks when printing */
@media print {
  a:after {
    content: " (" attr(href) ")";
  }
}

/* Example media query expression for Responsive Web Design */
@media (orientation: portrait) and (min-width:980px) {
  html {
    display: none;
  }
}

body {
  background-image:url('../static/background.png');
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
